/* ========== COMMON ==========  */
* {
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #ebebeb;
}

::selection {
  color: #000;
  background: #ffc300;
}

/* ========== NAVBAR ==========  */
.navbar {
  background-color: #fff !important;
  padding: 20px !important;
}
.navbar-brand {
  max-width: 8% !important;
}
.navbar-brand img {
  max-width: 100% !important;
  width: 100%;
  height: auto;
}
.nav-link {
  font-size: 16px !important;
  font-weight: 500 !important;
}
.right-navbar-brand {
  max-width: 10% !important;
}
.right-navbar-brand img {
  width: 100%;
}

/* ========== HOMEPAGE BANNER ==========  */
.banner-container {
  max-width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-container img {
  width: 100%;
  height: auto;
}

/* ========== HOMEPAGE BANNER SECTION 1 ==========  */
.hompage-section-1 {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hompage-section-1-img {
  max-width: 100%;
  display: flex;
  justify-content: center;
}
.hompage-section-1-img img {
  width: 50%;
  height: auto;
  border-radius: 10px;
}
.hompage-section-1 h1 {
  font-weight: 500;
  font-size: 50px;
}
.hompage-section-1 p {
  font-size: 18px;
  text-align: justify;
}
.homepage-section-1-mvv {
  margin-top: 100px;
  margin-bottom: 100px;
}
.hompage-section-1-inner-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: 3px;
  height: 200px;
}
.hompage-section-1-inner-card:hover {
  border: 1px solid #e7e7e7e7;
  border-radius: 10px;
  transition: 0.3s all ease-in-out;
}
.hompage-section-1-inner-card h2,
.hompage-section-1-inner-card p {
  text-align: center;
  margin: 0 !important;
}

/* ========== HOMEPAGE BANNER SECTION 2 ==========  */
.homepage-section-2-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px !important;
  justify-content: center;
  align-items: center;
}
.homepage-section-2-grid h2 {
  font-weight: 500;
  font-size: 55px;
  margin: 0 !important;
}
.homepage-section-2-bottom-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  margin-bottom: 80px;
  justify-content: space-around;
}
.homepage-grid-card {
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #fff;
}
.homepage-grid-card:hover {
  border: 1px solid #003566;
  transition: 0.5s all ease-in-out;
  border-radius: 10px;
}
.homepage-grid-card h3 {
  font-size: 24px;
}
.homepage-grid-icon-container {
  background-color: #001d3d;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;
}
.homepage-grid-icon-container ion-icon {
  color: #fff;
  font-size: 20px !important;
}
.hr-line {
  width: 100%;
  border-bottom: 1px solid #e7e7e7e7;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* ========== HOMEPAGE BANNER SECTION 3 ==========  */
.homepage-section-img-container {
  max-width: 100%;
}
.homepage-section-img-container img {
  width: 100%;
}

/* ========== WHO WE ARE ==========  */
.who-we-are-section {
  margin-bottom: 30px;
}
.who-we-are-section h3 {
  font-size: 18px;
  color: #777;
}
.who-we-are-section p {
  margin: 0;
  font-size: 40px;
  line-height: 40px;
}
.who-we-are-txt {
  font-size: 16px;
  color: #777;
}
.who-we-are-banner-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.who-we-are-banner-container img {
  width: 100%;
  border-radius: 10px;
}
/* ========== FOOTER ==========  */
.footer {
  width: 100%;
  border-top: 1px solid #e7e7e7e7;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  background-color: #ffc300;
}
.footer-menu {
  flex: 1;
}
.footer li {
  list-style: none;
  margin-bottom: 15px;
}
.footer a {
  text-decoration: none;
  color: #003566;
  font-size: 18px;
}
.footer a:hover {
  font-weight: 500;
  transition: 0.3s all ease-in-out;
}

/* ========== DEVELOPER FOOTER ==========  */
.developer-footer {
  background-color: #000814;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.developer-footer p {
  color: #fff;
  margin: 0;
}
.developer-footer a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.developer-footer a:hover {
  color: #ffc300;
  text-decoration: none;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  /* ========== NAVBAR ==========  */
  .navbar-brand {
    max-width: 35% !important;
  }
  .navbar-brand img {
    width: 100%;
    height: auto;
  }

  /* ========== HOMEPAGE BANNER SECTION 1 ==========  */
  .hompage-section-1 {
    flex-direction: column;
  }
  .hompage-section-1-img {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
  .hompage-section-1-img img {
    width: 80%;
    margin-bottom: 20px;
  }
}
